/* header */

header section {
  padding-bottom: 0px;
}

header section header {
  float: left;
  width: 250px;
}

header section header h1 a {
  color: #2A5568;
}

header section header h1 a:hover {
  color: #2A5568;
  text-decoration: none;
}

header section header h2 {
  line-height: 0;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}

header section header h2 a {
  color: #5D95AE;
}

header section header h2 a:hover {
  color: #5D95AE;
  text-decoration: none;
}

/* content */

section.wrapper {
  width: 980px;
  margin: 0 auto;
  padding: 40px 0;
  overflow: hidden;
}

section#posts, section#comments, section#share {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0px;
}

.social-button {
  float: left;
}

section#posts {
  padding: 40px 0 20px 0;
}

section#social {
  padding-bottom: 0px;
}

section#social p {
  margin-bottom: 0px;
  float: right;
}

section#social p a {
  font-weight: bold;
}

.highlight {
  padding: 5px;
  overflow-x: scroll;
  margin: 0 0 20px 0;
  border-radius: 4px;
  border: 1px solid #aaa;
}

div.highlight pre {
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

section article {
  margin: 0;
  padding: 0;
}

section article:last-child {
  padding: 0;
  border: none;
}

section#posts article {
  padding: 0;
  margin: 0 0 20px 0;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

section#posts article p {
  max-width: 480px;
}

section#posts li a {
  margin-left: 20px;
  font-size: 1.25em;
  /* font-weight: bold;*/
}

section#posts li {
  margin-bottom: 10px;
}

ol {
  list-style: decimal inside;
  padding-bottom: 20px;
}

section#posts img {
  border: 1px solid #999;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
}

section article header {
  background: none;
}

section article header time {
  float: right;
  color: #4A7588;
  display: block;
  font-size: 24px;
  line-height: 1.5;
  margin: 0 0 5px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: league-gothic, sans-serif;
}

section#posts article header h4 {
  float: right;
  clear: both;
  font-size: 20px;
  text-transform: lowercase;
  font-family: league-gothic, sans-serif;
  margin: 0px;
  opacity: .6;
}

section#posts article header h4 a {
  color: #4A7588;
}

h5 {
  color: #4A7588;
  font-size: 25px;
  font-family: league-gothic, sans-serif;
}

section#post {
  width: auto;
  background: rgba(255, 255, 255, 0.25);
}

section#post header {
  background: none;
}

section#post header h1 {
  float: none;
  font-size: 48px;
}

section#post aside {
  float: left;
  width: 367px;
  margin: 0 0 0 20px;
}

section#post aside h2 {
  font-size: 32px;
  font-weight: normal;
}

section#post aside .hire-us a {
  padding: 10px;
  display: block;
  position: relative;
  border-radius: 5px;
  background: #2A5568;
  text-shadow: 0 0 1px rgba(0,0,0,.25);
  background-image: -webkit-linear-gradient(top, #4A7588, #2A5568);
}

section#post aside .hire-us a:hover {
  background-image: -webkit-linear-gradient(top, #5A8598, #3A6578);
}

section#post aside .hire-us a:active {
  box-shadow: 0 0 20px rgba(0,0,0,.5) inset;
  background-image: -webkit-linear-gradient(top, #4A7588, #2A5568);
}

section#post aside .hire-us a {
  color: #8AB5C8;
  text-decoration: none;
}

section#post aside .hire-us a span {
  color: #FFF;
  display: block;
}

section#post aside .hire-us a em {
  top: 35%;
  right: 3%;
  color: #FFF;
  font-size: 2em;
  position: absolute;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

section#post aside .hire-us.active a em {
   -webkit-transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -o-transform: rotate(90deg);
   transform: rotate(90deg);
}

section#post aside section#form-container {
  display: none;
  padding: 0px;
  margin: 0px;
}

section#post article {
  float: left;
  width: 593px;
}

section#post aside ul.meta {
  float: none;
  padding: 10px;
  color: #2A5568;
  line-height: 2;
  font-size: 16px;
  overflow: hidden;
  margin: 0 0 20px 0;
  background: #CFE5E4;
}

section#post aside ul.meta .author {
  float: left;
}

.social a {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  display: inline-block;
}

.social .twitter {
  background: url(/images/icons/twitter.png) 0 0 no-repeat;
}

.social .github {
  background: url(/images/icons/github.png) 0 0 no-repeat;
}

section#post aside ul.meta .date {
  float: right;
}

section#post article ul {
  margin-left: 10px;
  margin-bottom: 10px;
}

ol {
  padding-bottom: 0px;
  margin-left: 10px;
}

form {
  width: 327px;
  padding: 20px;
  background: #CFE5E4;
}

form .error {
  width: auto;
  color: #FFF;
  height: 28px;
  display: block;
  padding: 2px 5px;
  text-align: left;
  line-height: 28px;
  background: #BA4F3A;
}

input,
textarea {
  margin: 0;
  width: 317px;
  border: none;
  display: block;
}

.input {
  margin: 0 0 10px 0;
}

.submit input {
  color: #FFF;
  width: 327px;
  font-size: 16px;
  background: #BA4F3A;
  border: 4px solid #FFF;
  text-transform: uppercase;
  font-family: ff-meta-web-pro, sans-serif;
}

/* jquery in field label  */

form.inFieldLabel label {
  display: none;
}

form.inFieldLabel label.inFieldLabel {
  z-index: 100;
}

form.inFieldLabel label.inFieldLabel.behind {
  z-index: -100 !important;
}

iframe {
  height: 460px
  width: 420px;
}

header .mobile-nav {
  display: none;
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-width : 320px)
and (max-width : 480px) {

  section article header time,
  section#posts article header h4 {
    margin: 0;
    padding: 0;
    opacity: .8;
    float: none;
    font-size: 20px;
  }
  
  h2 {
    margin: 10px 0;
  }
  
  section,
  header section {
    width: auto !important;
  }

  header section header {
    width: auto;
  }

  header section header h1 {
    font-size: 48px;    
    text-align: left;
  }

  header section header h1:after {
    float: right;
    color: #6A95A8;
    font-size: .6em;
    line-height: 48px;
    margin: 0 0 0 20px;
    letter-spacing: 5px;
    content: "REEFPOINTS";
  }

  header section header h2 {
    display: none;
  }

  header h1, header ul, header ul li, header ul li.last, header ul li a {
    margin: 0;
    padding: 0;
    float: none;
    line-height: 1;
    background: none;
  }
  
  header section {
    padding: 20px;
  }

  header .mobile-nav {
    float: right;
    display: block;
    margin: 10px 0;
    padding: 0 10px;
    line-height: 28px;
    border-radius: 5px;
    background: rgba(0,0,0,.1);
  }
  
  header ul {
    clear: both;
    padding: 0 10px;
    margin: 0 -20px;
    background: #EEE;
    position: relative;
    top: 20px;
    overflow: auto;
    display: none;
  }

  header ul li {
    margin: 10px 0;
    display: block;
    font-size: 16px;
    line-height: 20px;
  }

  header ul li.last {
    display: none;
  }

  header ul li a {
    padding: 10px;
    display: block;
    background: #DDD;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1) inset;
  }
  
  section#share,
  section#comments,
  section#content > section#posts {
    padding: 20px;
  }

  section#post article {
    width: 100%;
  }

  section#post aside {
    display: none;
  }

  section#content > section section.wrapper {
    padding: 20px;
  }
  
  section#content #who-we-are section {
    padding: 20px 20px 0 20px;
  }
  
  section#content #what-we-do,
  section#content #how-we-work,
  section#content #projects article {
    padding: 0;
    width: auto;
    float: none;
    margin: 0 0 20px 0;
  }

  section#content #projects img {
    width: 100%;
    float: none;
  }
  section#content #who-we-are .about-dockyard ul a {
    margin: 0 0 10px 0;
  }

  section#content #who-we-are .about-dockyard,
  section#content #who-we-are .team {
    margin: 0;
    padding: 0;
    float: none;
    width: auto;
  }

  section#content #who-we-are .team .info {
    width: auto;  
  }
  
  section#contact h2 {
    font-size: 28px;
  }

  section#content #contact div.string label {
    width: auto;
    display: block;
    padding: 0 0 5px 0;  
  }

  section#content #contact div.string input,
  section#content #contact textarea {
    width: 96%;
    padding: 2%;
  }
  
  section#content #contact textarea {
    height: 160px;
  }

  section#content #contact input[type="submit"] {
    margin: 20px 0;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  footer {
    padding: 20px;
  }

  footer ul li {
    display: none;
  }

  footer ul li.last {
    display: block;
  }

}
