/* header */

header section {
  padding-bottom: 0px;
}

header section header {
  float: left;
  width: 250px;
}

header section header h1 a {
  color: #2A5568;
}

header section header h1 a:hover {
  color: #2A5568;
  text-decoration: none;
}

header section header h2 {
  line-height: 0;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}

header section header h2 a {
  color: #5D95AE;
}

header section header h2 a:hover {
  color: #5D95AE;
  text-decoration: none;
}

/* content */

section#posts, section#post, section#comments {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0px;
  overflow: hidden;
}

div.highlight {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow-x: scroll;
}

div.highlight pre {
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

section#posts li a {
  margin-left: 20px;
  font-size: 1.25em;
  /* font-weight: bold;*/
}

section#posts li {
  margin-bottom: 10px;
}

ol {
  list-style: decimal inside;
  padding-bottom: 20px;
}

section#posts img {
  border: 1px solid #999;
}

blockquote {
  padding-left: 20px;
  font-style: italic;
}

p {
  margin-top: 20px;
}
