header section header {
  float: left;
  width: 250px;
}

header section header h2 {
  line-height: 0;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

header section header h2 a {
  color: #5d95ae;
}

header section header h2 a span {
}

header section h1 a {
  color: #2A5568;
}

header section h1 a:hover {
  color: #2A5568;
  text-decoration: none;
}

header section h2 a {
  color: #5D95AE;
}

header section h2 a:hover {
  color: #5D95AE;
  text-decoration: none;
}

section#posts, section#social, section#comments {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0px;
  overflow: hidden;
}

section#posts {
  padding-top: 0px;
}

section#social {
  padding-bottom: 0px;
}

section#social p {
  margin-bottom: 0px;
  float: right;
}

section#social p a {
  font-weight: bold;
}

div.highlight {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

div.highlight pre {
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

#posts li.post_link a {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
