body header section {
  position: relative;
}

section#posts {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0px;
  overflow: hidden;
}

div.highlight {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

div.highlight pre {
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

h2#blog_title {
  position: absolute;
  left: 175px;
  bottom: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  -webkit-transform: rotate(-30deg);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2A5568;
}
