body header section {
  position: relative;
}

body header section h1 a {
  color: #2A5568;
}

body header section h1 a:hover {
  color: #2A5568;
  text-decoration: none;
}

body header section h2 a {
  color: #5D95AE;
}

body header section h2 a:hover {
  color: #5D95AE;
  text-decoration: none;
}

section#posts, section#social, section#comments {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0px;
  overflow: hidden;
}

div.highlight {
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

div.highlight pre {
}

pre, code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
}

h2#blog_title {
  color: #5d95ae;
  position: absolute;
  left: 175px;
  bottom: 20px;
  letter-spacing: 0.1em;
  font-weight: bold;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2A5568;
}

#posts li.post_link a {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: bold;
}
