
<!DOCTYPE html>
<html>
<head>
<title>Web and mobile consultancy specializing in Ruby on Rails ~ DockYard</title>
<link href="http://dockyard.com/assets/application-76dd648a24235090b8bf6ac1db2b9ee0.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css" />
<script src="http://dockyard.com/assets/application-5c4df291e86616d356ee3f544cc7bf66.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->
<script src='http://use.typekit.com/ocs3hao.js'></script>
<script>try{Typekit.load();}catch(e){}</script>
<script>
  //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24185112-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  //]]>
</script>
<meta content='DockYard is a web and mobile software development consultancy for hire based in Boston, MA' name='description'>
<meta content='web development, mobile development, startups, enterprise, ruby on rails, rails, ruby, ruby on rails training, Boston, for hire' name='keywords'>
<link href='http://dockyard/humans.txt' rel='author'>
</head>
<body>
<header>
<section>
<h1>DockYard</h1>
<h2 id="blog_title">ReefPoints</h2>
<nav>
<ul>
<li>
<a href='http://dockyard.com/#what-we-do'>what</a>
</li>
<li>
<a href='http://dockyard.com/#how-we-work'>how</a>
</li>
<li>
<a href='/http://dockyard.com#who-we-are'>who</a>
</li>
<li>
<a href='http://dockyard.com/#community'>community</a>
</li>
<li>
<a href='/'>blog</a>
</li>
<li>
<a href='http://dockyard.com/#contact'>contact</a>
</li>
<li class='last'>
855.DOCK.YRD
</li>
</ul>
</nav>

</section>

</header>

<section id="content">
  {{ content }}
</section>

<footer>
<section>
<p>&copy; 2011 DockYard</p>
<nav>
<ul>
<li>
<a href='http://dockyard.com/#what-we-do'>what</a>
</li>
<li>
<a href='http://dockyard.com/#how-we-work'>how</a>
</li>
<li>
<a href='http://dockyard.com/#who-we-are'>who</a>
</li>
<li>
<a href='http://dockyard.com/#community'>community</a>
</li>
<li>
<a href='/'>blog</a>
</li>
<li>
<a href='http://dockyard.com/#contact'>contact</a>
</li>
<li class='last'>
855.DOCK.YRD
</li>
</ul>
</nav>

</section>

</footer>
</body>
</html>

