<!DOCTYPE html>
<html>
<head>
<title>Web and mobile consultancy specializing in Ruby on Rails ~ DockYard</title>
<link href="/css/dockyard.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/syntax.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/css/reefpoints.css" media="screen" rel="stylesheet" type="text/css" />
<link href='http://reefpoints.dockyard.com/atom.xml' rel='alternate' title='ATOM' type='application/atom+xml' />
<script src="/javascripts/dockyard.js" type="text/javascript"></script>
<script src="/javascripts/jquery-in-field-label.js" type="text/javascript"></script>
<script src="/javascripts/reefpoints.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src='//html5shim.googlecode.com/svn/trunk/html5.js'></script>
<![endif]-->
<script src='http://use.typekit.com/cgt5xkz.js'></script>
<script>try{Typekit.load();}catch(e){}</script>
<script>
  //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24185112-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  //]]>
</script>
<meta content='DockYard is a web and mobile software development consultancy for hire based in Boston, MA' name='description'>
<meta content='web development, mobile development, startups, enterprise, ruby on rails, rails, ruby, ruby on rails training, Boston, for hire' name='keywords'>
<link href='http://dockyard.com/humans.txt' rel='author'>
</head>
<body>
<header>
<section>
<a class='mobile-nav' href='#'>
&middot;&middot;&middot;&middot;&middot;
</a>
<header>
  <h1><a href="http://dockyard.com">DockYard</a></h1>
  <h2><a href="http://reefpoints.dockyard.com">ReefPoints</a></h2>
</header>
<nav>
<ul>
<li>
<a href='http://dockyard.com/#what-we-do'>what</a>
</li>
<li>
<a href='http://dockyard.com/#how-we-work'>how</a>
</li>
<li>
<a href='http://dockyard.com#who-we-are'>who</a>
</li>
<li>
<a href='http://dockyard.com/#community'>community</a>
</li>
<li>
<a href='/'>blog</a>
</li>
<li>
<a href='http://dockyard.com/#contact'>contact</a>
</li>
<li class='last'>
855.DOCK.YRD
</li>
</ul>
</nav>

</section>

</header>

<section id="content">
  {{ content }}
</section>

<footer>
<section>
<p id="copyright">&copy; 2011 DockYard</p>
<nav>
<ul>
<li>
<a href='http://dockyard.com/#what-we-do'>what</a>
</li>
<li>
<a href='http://dockyard.com/#how-we-work'>how</a>
</li>
<li>
<a href='http://dockyard.com/#who-we-are'>who</a>
</li>
<li>
<a href='http://dockyard.com/#community'>community</a>
</li>
<li>
<a href='/'>blog</a>
</li>
<li>
<a href='/atom.xml'>rss</a>
</li>
<li>
<a href='http://dockyard.com/#contact'>contact</a>
</li>
<li class='last'>
855.DOCK.YRD
</li>
</ul>
</nav>

</section>

</footer>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'reefpoints'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</body>
</html>

