---
layout: default
---

<section id="post">
  <article>
    <h1>{{ page.title }}</h1>
    <h2>{{ page.date | date_to_string }}</h2>
    {% if page.author %}
      <h4>by {{ page.author }}</h4>
    {% endif %}
    {{ content }}
      <p class="social">
        Follow {{ page.author }}
        {% if page.twitter %}
          <a href="http://twitter.com/{{ page.twitter }}">Twitter</a>
        {% endif %}
        {% if page.github %}
          <a href="http://github.com/{{ page.twitter }}">Github</a>
        {% endif %}
      </p>
      <p class="social"><a href="http://twitter.com/dockyard" target="_blank">Follow DockYard on Twitter</a><p>
  </article>
</section>

<section id="comments">
  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'reefpoints';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
</section>

