---
layout: default
---

<section id="posts">
  <article>
    {{ content }}
  </article>
</section>

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'reefpoints';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}

<section id="social">
 <article>
   <p><a href="http://twitter.com/dockyard" target="_blank">Follow DockYard on the Twitters!</a><p>
 </article>
</section>
